.remove_nested_fields_link {
	margin-left: 7.5px;
}

.answers-form {
	fieldset:first-child li .form-group::before {
		content: "(Correct) "
	}
}

.panel ul {
	margin-bottom: 0;
}

.alert-notice {
	@extend .alert-info !optional;
}

.alert-alert {
	@extend .alert-danger !optional;
}
