.remove_nested_fields_link {
	margin-left: 7.5px;
}

.answers-form {
	fieldset:first-child li .form-group::before {
		content: "(Correct) "
	}
}

.panel ul {
	margin-bottom: 0;
}

.alert-notice {
	@extend .alert-info !optional;
}

.alert-alert {
	@extend .alert-danger !optional;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

// body > .container {
//   padding: 60px 15px 0;
// }

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
